<div *ngIf = "instruct">
  <h2>Post a course</h2><br><br>

  Subject: <input placeholder="ex. SE" [(ngModel)]="subject"><br><br>
  Catalog: <input placeholder="ex. 3350" [(ngModel)]="catalog"><br><br>
  Extension: <input placeholder="ex. A,B" [(ngModel)]="extension"><br><br>
  Instructor: <input placeholder="" [(ngModel)]="instructor"><br><br>
  Hours: <input placeholder="ex. 30" [(ngModel)]="hours"><br><br>
  Number of Students: <input placeholder="ex. 100" [(ngModel)]="numstudent"><br><br>
  Description: <input placeholder="" [(ngModel)]="desc"><br><br>

  
</div>
